In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('../Data/weather_last_year_data.csv')
data.head()
data.info()
data.describe()
data.isnull().sum()
data.dropna(inplace=True)
data.drop_duplicates(inplace=True)
data.reset_index(drop=True, inplace=True)
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Source_Type           1000 non-null   object
 1   Solar_Irradiance      1000 non-null   float64
 2   Wind_Speed            1000 non-null   float64
 3   Ambient_Temperature   1000 non-null   float64
 4   Humidity              1000 non-null   float64
 5   Cloud_Cover           1000 non-null   float64
 6   Panel_Area            1000 non-null   float64
 7   Blade_Length          1000 non-null   float64
 8   Storage_Capacity      1000 non-null   float64
 9   Maintenance_Schedule  1000 non-null   float64
 10  Energy_Output_Class   1000 non-null   object
dtypes: float64(9), object(2)
memory usage: 86.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Source_Type           1000 non-null   object
 1   Solar_Irradiance      1000 non-null   float64
 2   Wind_Speed            1000 non-null   float64
 3   Ambient_Temperature   1000 non-null   float64
 4   Humidity              1000 non-null   float64
 5   Cloud_Cover           1000 non-null   float64
 6   Panel_Area            1000 non-null   float64
 7   Blade_Length          1000 non-null   float64
 8   Storage_Capacity      1000 non-null   float64
 9   Maintenance_Schedule  1000 non-null   float64
 10  Energy_Output_Class   1000 non-null   object
dtypes: float64(9), object(2)
memory usage: 86.1+ KB

,Solar_Irradiance,Wind_Speed,Ambient_Temperature,Humidity,Cloud_Cover,Panel_Area,Blade_Length,Storage_Capacity,Maintenance_Schedule
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,4.986120,12.433440,15.116410,50.173990,50.45123,103.973400,50.249940,4830.734520,180.350000
std,1.717439,7.248279,14.347877,23.082741,28.40863,54.305303,16.951897,2853.965883,106.566796
min,2.010000,0.030000,-9.990000,10.050000,0.02000,10.640000,20.010000,104.190000,0.000000
25%,3.550000,6.340000,2.615000,30.307500,25.75000,57.680000,35.957500,2257.455000,89.000000
50%,4.970000,12.365000,15.755000,50.180000,51.07000,101.745000,50.420000,4863.110000,179.500000
75%,6.392500,18.702500,27.425000,69.740000,74.26500,147.837500,64.750000,7212.760000,274.000000
max,8.000000,24.980000,39.950000,89.990000,99.99000,199.670000,79.810000,9987.360000,365.000000

In [4]:
data.head()

,Source_Type,Solar_Irradiance,Wind_Speed,Ambient_Temperature,Humidity,Cloud_Cover,Panel_Area,Blade_Length,Storage_Capacity,Maintenance_Schedule,Energy_Output_Class
0,Solar,6.22,6.02,36.38,27.27,93.16,124.76,56.50,4312.36,230.0,Low
1,Solar,5.59,21.93,31.06,77.73,73.69,198.22,60.42,1057.31,184.0,Moderate
2,Wind,4.94,9.88,1.24,43.18,69.40,60.41,37.50,9781.32,196.0,High
3,Solar,2.19,11.66,33.71,12.89,33.68,21.84,47.44,5168.17,9.0,Moderate
4,Wind,5.75,21.52,3.17,35.71,10.40,16.10,44.74,6331.84,93.0,Low