In [3]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('../data/weather_last_year_data.csv')
data.head()

,Source_Type,Solar_Irradiance,Wind_Speed,Ambient_Temperature,Humidity,Cloud_Cover,Panel_Area,Blade_Length,Storage_Capacity,Maintenance_Schedule,Energy_Output_Class
0,Solar,6.22,6.02,36.38,27.27,93.16,124.76,56.50,4312.36,230.0,Low
1,Solar,5.59,21.93,31.06,77.73,73.69,198.22,60.42,1057.31,184.0,Moderate
2,Wind,4.94,9.88,1.24,43.18,69.40,60.41,37.50,9781.32,196.0,High
3,Solar,2.19,11.66,33.71,12.89,33.68,21.84,47.44,5168.17,9.0,Moderate
4,Wind,5.75,21.52,3.17,35.71,10.40,16.10,44.74,6331.84,93.0,Low